.edit__comp {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(black, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit__card {
  position: relative;

  background-color: white;
  min-width: 20rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.3rem;

  .icon {
    position: absolute;
    top: 0.5rem;
    right: 0.8rem;
    color: crimson;
    font-size: 1.4rem;
    cursor: pointer;
  }

  h2 {
    width: 90%;
    margin: 0.4rem 0;
    font-weight: 500;
    color: #187fc2;
    text-transform: uppercase;

  }

  h3 {
    width: 90%;

    color: #18c221;
    font-size: 1.2rem;
  }

  button {
    width: 90%;
    margin: 0.7rem 0;
    padding: 0.5rem 0.7rem;
    background-color: #187fc2;
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 1rem;

    &.p {
      background-color: crimson;
    }


  }
}